[Desktop Entry]
Name=Apagar
#GenericName=Terminal
Comment=Apagar
Exec=systemctl poweroff
Terminal=false
Type=Application
#Encoding=UTF-8
Icon=system-shutdown-symbolic.symbolic
Categories=System;
Keywords=shell;prompt;command;commandline;cmd;

